/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* simple css reset  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.btn {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  display: inline-block;
}

.btn-primary {
  background: #ff900e;
  border-radius: 8px;
  padding: 20px 25px;
}
.btn-big {
  color: #fff;
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  padding: 46px 42px;
  text-align: center;
}

.btn-big span {
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  display: block;
}

.btn-displace {
  position: relative;
  top: -120px;
  left: -90px;
}

/* header styles  */

.container {
  width: 1400px;
  margin: 0 auto;
}

header.main-header {
  padding: 50px 0 100px 0;
  background-color: rgba(255, 144, 14, 0.1);
}

header.main-header .container {
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}
.main-menu ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 50px;
}
.main-menu a {
  color: #424242;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

/* =========================================
    Banner
    ===================================== */
section.banner {
  padding: 0 0 50px 0;
  background-color: rgba(255, 144, 14, 0.1);
}

.banner-content {
  text-align: center;
  padding: 0 0 50px 0;
}

.banner-content h2 {
  color: #131313;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}

.banner-content p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 30px 0;
  max-width: 780px;
  margin: 0 auto;
}

/* ==================================
    Quick List
    ===============================*/

section.quick-list {
  padding: 85px 0 130px 0;
  display: flex;
  justify-content: space-around;
  gap: 70px;
  flex-direction: row;
  align-items: center;
}

.quick-list-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.quick-list-content {
  max-width: 550px;
}

.quick-list-content h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  color: #131313;
}

span.small-gray {
  font-weight: 500;
  color: #727272;
}

span.big-orange {
  color: #ff900e;
}

.quick-list-content p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 24px 0 32px 0;
}

/* =================================
    features 
    ============================= */

section.features {
  display: flex;
  gap: 145px;
}

.feature-content {
  max-width: 585px;
  padding: 40px 0 0 0;
}

.feature-content h2 {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  max-width: 450px;
  border-left: 5px solid #ff900e;
  padding: 0 0 0 21px;
}

.feature-content p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 24px 0 30px 0;
}

.single-feature {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px 40px 30px 30px;
  margin-bottom: 20px;
}

.single-feature h3 {
  color: #131313;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

.single-feature p {
  padding: 10px 0 0 0;
  margin: 0;
}

.single-feature {
  height: 171px;
  overflow: hidden;
}

.single-feature p {
  overflow: hidden;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.feature-image {
  max-width: 800px;
}
/* =================================
    Facts
    ============================== */
section.facts h2 {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

section.facts > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  max-width: 540px;
  margin: 24px 0 80px 0;
}

.facts-wrap {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.fact {
  text-align: center;
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 50px 40px;
  background-color: #fff;
}

section.facts {
  margin-bottom: 150px;
}

.fact h3 {
  color: #424242;
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  margin: 10px 0 5px 0;
}

.fact > p {
  color: #727272;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

.fact:hover {
  transform: scale(1.5);
  transition: all ease-in-out 1s;
  cursor: zoom-in;
}

/* ==========================================
    Sponsore
    ====================================== */
section.sponsore {
  padding: 130px 0;
}

section.sponsore > h2 {
  text-align: center;
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

section.sponsore > p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 24px 0 50px 0;
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}

.companyes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.companyes img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all ease-in 0.3s;
}

.companyes img:hover {
  filter: grayscale(0);
  cursor: pointer;
}
/*  =====================================
     Footer
    ================================== */
.footer-wrap {
  text-align: center;
  background: #fff4e7;
  border-radius: 8px;
  padding: 40px 0;
  margin-bottom: 50px;
}
/*  =====================================
    Css For Extra Section
    ================================== */

.extra-wrap {
  text-align: right;
  color: #fff;
  background-color: rgba(255, 144, 14, 1);
  padding: 60px 40px;
  max-width: 50%;
  margin: 0 0 0 auto;
}

.extra-wrap h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.extra-wrap p {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

ul.social {
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

ul.social a {
  color: #fff;
  display: block;
  font-size: 25px;
}
ul.social a:hover {
  color: rgba(0, 0, 50);
}

section.extra-section {
  background-image: url('../images/extra-bg.jpg');
  padding: 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles for mobile devices */
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  header.main-header .container {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  header.main-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-menu ul {
    row-gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
    justify-items: center;
    align-items: center;
    align-content: stretch;
  }

  .main-menu a {
    border: 1px solid #000;
    padding: 2px 5px;
  }

  .banner-content h2 {
    font-size: 30px;
    line-height: 1.3;
  }

  section.banner {
    padding-top: 20px;
  }

  .banner-content p {
    max-width: 100%;
    text-align: center;
  }

  section.quick-list {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 35px;
  }

  .quick-list-image {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }

  .quick-list-content {
    text-align: center;
  }

  section.features {
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .feature-content p {
    text-align: center;
  }

  .feature-content h2 {
    padding-left: 10px;
  }

  .facts-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .companyes {
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-displace {
    position: initial;
  }

  .btn-big {
    margin: 0 auto;
    display: block;
    max-width: 75%;
    margin-bottom: 40px;
    width: 250px;
  }

  .extra-wrap {
    max-width: initial;
    text-align: center;
    padding: 30px 30px;
  }

  .btn-big {
    font-size: 30px;
    line-height: 20px;
    padding: 20px 0 5px 0;
  }

  .btn-big span {
    font-size: 18px;
  }

  section.facts {
    text-align: center;
    margin-bottom: 50px;
  }

  .fact {
    min-width: 250px;
    max-width: 250px;
  }

  .extra-wrap h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }

  ul.social {
    gap: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  section.sponsore {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  section.sponsore > p {
    padding-bottom: 20px;
  }

  .logo h1 {
    margin-bottom: 15px;
  }
  .single-feature {
    text-align: center;
  }
}

/* for tablet  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  header.main-header .container {
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }

  header.main-header {
    padding: 35px 0;
  }

  .facts-wrap {
    gap: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .fact {
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
  }

  .extra-wrap {
    max-width: initial;
  }

  .companyes {
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  section.facts {
    margin-top: 50px;
  }

  section.quick-list {
    padding: 80px 0;
  }

  .quick-list-content {
    max-width: 45%;
  }

  .btn-displace {
    top: initial;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    max-width: 350px;
    position: absolute;
    bottom: 100px;
  }

  section.features {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
  }

  .feature-content {
    max-width: initial;
  }

  .feature-image {
    position: relative;
    margin: 0 auto;
  }
}
